// Navbar styles
.navbar-default .navbar-brand{
  color: black;
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

// Add buttons style
.add-buttons {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.add-button{
  float: right;
  margin-right: 20px;
}

// Footer Styles
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #2b2b2b;
  margin-top: 200px;
}

.footer-text {
  font-size: medium;
  color: #999;
  float: right;
  margin-top: 20px;
  margin-right: 8px;
}

// Campus/Student list styles
.thumbnail{
  height: 350px;
}

.img-container {
  height: 230px;
  position: relative;
}

.img-container>img {
  max-height: 100%;
  max-width: 100%;
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.name-container {
  margin: 0px 0px 10px 5px;
  position: relative;
  text-overflow: ellipsis;
}

.name-container>strong {
  font-size: large;
}

.caption-buttons {
  margin: auto;
}

.caption-button {
  margin-right: 10px;
}

// Campus/Student detail styles

.item-all-container,.item-students-container {
  width: 100%;
  overflow: hidden;
}

.form-control{
  margin: 3px 0px;
}

.form-group>.campus-desc-control{
  height: 120px;
}

.update-btn{
  float: right;
}

